/*-----------------------------------------------------------------
                                Google Fonts 
-------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*--------------------------------------------------------------
                        Common Style 
--------------------------------------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

.button-link{
    font-size: 16px;
    color: #ffffff;
    padding: 10px 24px 10px 24px;
    background-color:#E02C6D;
    transition:all ease-in-out 1s;
}
.button-link:hover{
    background-color:#fff;
    color:#E02C6D;
    border:5px solid #E02C6D;
}

.container{
    width: 65%;
    margin: 0 auto;
}

/*-----------------------------------------------------------------------
                Football Banner Part Style 
-------------------------------------------------------------------------*/
.football-banner{
    width: 100%;
    background-color:#2D25A0;
}
.banner-container{
    width:75%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
}
.banner-info{
    flex-grow:4;
}
.banner-info h1{
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
}
.banner-img{
    width: 100%;
    flex-grow:8;
}
.banner-img img{
    width: 100%;
    height: 430px;
    transition: transform 2s ease-in-out;
}
.football-banner:hover .banner-img img{
    transform: rotate(10deg);
}

/*------------------------------------------------------------------------
                            Player Part Style 
--------------------------------------------------------------------------*/
.players{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.player{
    padding: 15px;
    box-shadow: 0px 0px 40px 0px #00000026;

}
.player-image img{
    width: 100%;
}
.player-info h2{
    color:#18191F;
    font-size: 28px;
    margin-top: 6px;
    margin-bottom: 0;
    font-weight: bold;
}
.player-info p{
    font-size: 16px;
    color: #6C6C6C;
    line-height: 26px;
    margin-top: 5px;
    font-weight: normal;
}
/*----------------------------------------------------------------
                 Highlights Part Style 
----------------------------------------------------------------*/
.highlights{
    display: grid;
    grid-template-columns:470px auto;
    grid-column-gap: 65px;
    margin-top:100px;
    align-items: center;
    margin-bottom: 100px;
}
.highlight-info h1{
    font-weight: 700;
    font-size: 48px;
    color:#0A0826;
    margin: 0;
}
.highlight-info p{
    margin-top: 8px;
    margin-bottom:25px;
    font-weight:400;
    font-size: 16px;
    color:#6C6C6C;
    ;
}
.hifhlight-image img{
    width: 100%;
    height: 380px;
}

/*------------------------------------------------------------
                    Gallery Part Style 
--------------------------------------------------------------*/
.gallery-title{
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}
.gallerys{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
}
.gallery-item{
    position: relative;
    height:225px;
    overflow: hidden;
}
.gallery-photo{
    transition: transform 2s ease-in-out;
}

.gallery-photo img{  
    width: 100%;
}
.photo-details{
    position: absolute;
    line-height: 225px;
    text-align: center;
    display: none;
    width: 0;
    height: 0;
    top: 0;
}
.photo-details h3 {
    color: #ffffff;
    margin: 0;
}
.gallery-item:hover .photo-details{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
}
.gallery-item:hover .gallery-photo{
    transform: scale(1.2);
}
/*-------------------------------------------------------------
                Match schedule Part Style 
---------------------------------------------------------------*/
.schedule-bg{
    width: 100%;
    background-image: url(images/upcoming/upcomming-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px 0;
}
.schedule-title{
    color:#ffffff;
    font-size: 45px;
    text-align: center;
}
.schedule{
    display: flex;
    justify-content: space-between;
}
.date-time, .club-item{
    color: #ffffff;
    text-align: center;
}
.date-time h1{
    color: #E02C6D;

}


/*-------------------------------------------------------
                Footer Part Style 
---------------------------------------------------------*/
.footer-container{
    width:483px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
.footer-logo{
    margin-bottom:30px;
}

.footer-social-icon a{
    padding:15px;
    border-radius:100%;
    background-color:#0b0d1717;
    margin-right:15px;
    margin-bottom:30px;
    color: #969BAB;
    transition: all linear 1s;
   
}
.footer-social-icon a:hover{
    background-color:#E02C6D;
    color: #fff;
}
.footer-container p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #000000;
    text-align: center;
}


/* --------------------------------------------------------
                    Media Query 
-----------------------------------------------------------*/
/*---------Mobile device------*/
@media screen and (max-width:680px) {

    /* common style */
    .container{
        width: 90%;
    }
    .players, .highlights, .gallerys{
        display: flex;
        flex-wrap: wrap;
    }

    /* football Banner style */
   .football-banner{
       width: 100%;
   }
   .banner-container{
       display: flex;
       flex-wrap: wrap;
   }
   .banner-info{
       margin-bottom: 50px;
   }
   .banner-info h1{
       font-size: 36px;
   }
   .button-link{
       margin-bottom:50px;
   }
   .banner-img img{
       width: 80%;
   }

   /* highlight style */
   .highlight-info{
       margin-bottom: 50px;
   }
   .highlight-info h1{
       font-size: 30px;
   }

   /* Match schedule Style  */
   .schedule-bg{
       width: 100%;
   }
   .schedule-title{
       font-size:30px;
   }
   .club-item img{
       width: 100%;
   }
   .club-item h2{
       font-size: 20px;
   }
   .date-time h2{
       font-size:20px;
       margin-top: 0;
   }

    /* footer style */
   .footer-container{
       width: 100%;
   }
   .footer-logo img{
       width:90%;
   }

}

/*---------Tablet Device------*/
@media screen and (min-width:681px) and (max-width:992px) {
    /* common style */
    .container{
        width: 90%;
    }
    .players, .highlights, .gallerys{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    /* Banner style */
   .football-banner{
        width: 100%;
    }
    .banner-container{
        display: flex;
    }
    .banner-info{
        flex-grow: 3;
    }
    .banner-img{
        flex-grow:3;
        width: 100%;
    }
    .banner-info h1{
        font-size:40px;
    }
    /* highlights style */
    .highlight-info h1{
        font-size: 30px;
    }
    .highlight-info p{
        margin-bottom: 40px;
    }
    /* Match schedule Style  */
   .schedule-bg{
    width: 100%;
    }
    /* footer style */
   .footer-container{
    width:80%;
    }

}